<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'guide.title1' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img1.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain1' | translate }}</p>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'guide.title2' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img2.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain2' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img3.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain3' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img4.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain4' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img5.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain5' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img6.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain6' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img7.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain7' | translate }}</p>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'guide.title3' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img8.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain8' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img9.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain9' | translate }}</p>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'guide.title4' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img10.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain10' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img11.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain11' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img12.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain12' | translate }}</p>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'guide.title5' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img13.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain13' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img14.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain14' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img15.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain15' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img25.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain25' | translate }}</p>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'guide.title6' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img16.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain16' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img17.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain17' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img18.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain18' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img19.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain19' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img20.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain20' | translate }}</p>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'guide.title7' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img21.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain21' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img22.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain22' | translate }}</p>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'guide.title8' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img23.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain23' | translate }}</p>
      </div>
    </div>
    <div class="container-gu">
      <div class="item-gu">
        <img src="assets/guide/img24.png" width="100%">
      </div>
      <div class="item-gu">
        <p>{{ 'guide.explain24' | translate }}</p>
      </div>
    </div>
  </mat-expansion-panel>

</mat-accordion>
