<div style="text-align: center;"><h2>{{ 'liquidityMinus.yourLiquidity' | translate }}</h2></div>

  <!-- Add liquidity -->
  <div class="separator-big mat-elevation-z6" style="text-align: center; border-radius: 10px; width: 100%; padding:10px; margin-left:-10px;margin-top: 30px; margin-bottom: 30px;">
    <p>{{ 'liquidityMinus.doYouLikeAddLiquidity' | translate }}</p>
    <button mat-flat-button color="primary" (click)="goToLiquidityPlus()" style="border-radius: 15px; width: 100%;">{{ 'liquidityMinus.goToLiquidityPlus' | translate }}</button>
  </div>

<div *ngIf="dataSource" style="text-align: center;"><strong>{{ 'liquidityMinus.selectPool' | translate }}</strong></div>
<div *ngIf="!dataSource" style="text-align: center;"><strong>{{ 'liquidityMinus.noLiquidityOrConnect' | translate }}</strong></div>
<div *ngIf="this.isConnect !== 'connected'" style="text-align: center;"><strong>{{ 'liquidityMinus.noConnexion' | translate }}</strong></div>



  <!-- Pools with liquidity   -->
<div class="content-pool separator" style="margin: 10px;">


  <div *ngIf="!pairsLoaded && !noPairs">
    <img class="image-panda" src="/assets/Pandapensando.gif"/>
  </div>



  <!--Available BLp pairs-->

  <mat-table *ngIf="availablePairs" [dataSource]="dataSource" matSort multiTemplateDataRows style="width: 100%;">

    <ng-container matColumnDef="pair" sticky>
      <!-- <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell> -->
      <mat-cell *matCellDef="let pair" style="display: flex; justify-content: center;">
        <button mat-flat-button color="accent">
          <img src="{{pair.logoTokenFirst}}" width="25px" height="25px">
          <img src="{{pair.logoTokenSecond}}" width="25px" height="25px">
          {{pair.pairTokenNameFirst}}/{{pair.pairTokenNameSecond}}
        </button>
      </mat-cell>
    </ng-container>

    <ng-container>
      <mat-row *matRowDef="let stake; columns: displayedColumns;" class="stake-row"
      (click)="getSelectedPair(stake)"></mat-row>
    </ng-container>

  </mat-table>
</div>

<div>
  <app-minus-liquidity-pair *ngIf="poolSelected" [pairSelected]="poolSelected"></app-minus-liquidity-pair>
</div>

<div *ngIf="!availablePairs">
  No liquidity available, please connect your wallet.
</div>
<div style="text-align: center; margin-top: 80px;">
  <div>
    {{'liquidityMinus.seePoolJoined' | translate }}
  </div>
  <div class="separator"></div>
  <button mat-flat-button color="accent" (click)="goToSearchPair()" style="border-radius: 15px;">Find other BLp Tokens</button>
</div>


