<div class="container-wallet">

  <div class="content-card-home-left card-100">
    <mat-tab-group mat-align-tabs="space-between" class="tab-100">
      <mat-tab label="{{ 'walletmenu.buy' | translate }}">
        <div class="buy-box box mat-elevation-z6">
          <app-settings></app-settings>
          <app-to-trade></app-to-trade>

        </div>
      </mat-tab>
      <mat-tab label="{{ 'walletmenu.staked' | translate }}">
        <div class="buy-box staked-box box mat-elevation-z6">
          <app-to-stake></app-to-stake>
        </div>

      </mat-tab>

      <mat-tab label="{{ 'walletmenu.moreliquidity' | translate }}">
        <div class="buy-box moreliquidity-box box mat-elevation-z6">
          <app-liquidity-plus></app-liquidity-plus>
        </div>
      </mat-tab>

      <mat-tab label="{{ 'walletmenu.lessliquidity' | translate }}">
        <div class="buy-box lessliquidity-box box mat-elevation-z6">
          <app-liquidity-minus></app-liquidity-minus>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
