<div class="content-card-home card-50">
  <div class="home-card">
    <div style="text-align: center;"><img src="/assets/bamboo_logo_wrapped.png" class="img-resp"></div>

  </div>
  <div class="home-card-resume" style="text-align: center;">
    <div class="tex-home" >{{ 'wrapped.wrap' | translate }}</div>
    <div class="separator-big"></div>
      <div>
      {{ 'wrapped.resume' | translate }}
      <br>
        <!-- <div class="separator"></div>
        <div style="text-align: center; display: flex; justify-content: center;">
          <app-bridge></app-bridge>
        </div> -->

        <div>
          <img src="/assets/comming-soon-transparent.png" alt="Comming Soon" width="120px" style="margin-top: 15px;">
        </div>
  </div>
</div>
