<mat-card class="mat-elevation-z6" style="width: 300px;">

  <div *ngIf="!pairAddressToken1 && !pairAddressToken1" style="display: flex; justify-content: space-between; flex-direction: row;">
    <div (click)="backToLiquidity()" style="cursor: pointer; display: flex; align-items: center;"><mat-icon style="font-size: 35px;" color="primary">arrow_back</mat-icon></div>
    <div>
      <h2>{{ 'liquidityPlus.liquidityPlus' | translate }}</h2>
      {{ 'liquidityPlus.addToReceive' | translate }}
    </div>
  </div>
  <div class="separator"></div>
  <app-settings></app-settings>

<form class="separator-big" name="form" #f="ngForm"
  (ngSubmit)="f.form.valid && liquidityPlus.inputFirst>0 && liquidityPlus.inputSecond>0 && liquidityPlus.tokenFirst.name && liquidityPlus.tokenSecond.name">
  <div class="container-lp">
    <div><b>{{'liquidityPlus.input' | translate }}</b></div>
    <div class="item-inline"><b>{{'liquidityPlus.balance' | translate }}:</b>
      <input matInput name="inputBalanceFirst" class="right-align" #inputBalanceFirst="ngModel"
        [ngModel]="liquidityPlus.inputBalanceFirst | number:'1.5-5'" placeholder="{{liquidityPlus.inputBalanceFirst | number:'1.5-5'}}" />
    </div>
  </div>

  <div class="container-lp separator">
    <div>
      <input matInput name="inputFirst" class="form-big-lp" #inputFirst="ngModel"
        [disabled]="!liquidityPlus.tokenFirst.name" [(ngModel)]="liquidityPlus.inputFirst" placeholder="0.0"
        (ngModelChange)="$event ? setValues(1) : null" autocomplete="off" type="number" required />
    </div>
    <div class="item-inline">
      <button mat-flat-button style="border-radius: 30px;" (click)="totalToAddFirst()" [disabled]="!isConnected">max</button>

      <button mat-flat-button color="primary" class="select-token" (click)="openTokenList(1)"
        *ngIf="liquidityPlus.tokenFirst.name" class="select-token"><img src="{{liquidityPlus.tokenFirst.icon}}"
          style="width: 35px; height: 35px; "> {{ liquidityPlus.tokenFirst.name }}</button>

      <button mat-flat-button color="accent" class="select-token" (click)="openTokenList(1)"
        *ngIf="!liquidityPlus.tokenFirst.name" class="select-token" [disabled]="!isConnected">{{ 'liquidityPlus.select' | translate }}</button>
    </div>
  </div>

  <div class="container-center separator-big">
    <mat-icon color="primary" style="font-size: 45px; font-weight: 900;">add</mat-icon>
  </div>

  <div class="container-lp separator-big">
    <div><b>{{'liquidityPlus.input' | translate }}</b></div>
    <div class="item-inline"><b>{{'liquidityPlus.balance' | translate }}:</b>
      <input matInput name="inputBalanceSecond" class="right-align" #inputBalanceSecond="ngModel"
        [ngModel]="liquidityPlus.inputBalanceSecond| number:'1.5-5'" placeholder="{{liquidityPlus.inputBalanceSecond | number:'1.5-5'}}" />
    </div>
  </div>

  <div class="container-lp separator">
    <div>
      <input matInput name="inputSecond" class="form-big-lp" #inputSecond="ngModel"
        [disabled]="!liquidityPlus.tokenSecond.name" [(ngModel)]="liquidityPlus.inputSecond" placeholder="0.0"
        (ngModelChange)="$event ? setValues(2) : null" autocomplete="off" type="number" required />

    </div>
    <div class="item-inline">
      <button mat-flat-button style="border-radius: 30px;" (click)="totalToAddSecond()" [disabled]="!isConnected">max</button>

      <button mat-flat-button color="primary" class="select-token" (click)="openTokenList(2)"
        *ngIf="liquidityPlus.tokenSecond.name" class="select-token"><img src="{{liquidityPlus.tokenSecond.icon}}"
          style="width: 35px; height: 35px;"> {{ liquidityPlus.tokenSecond.name }}</button>
      <button mat-flat-button color="accent" class="select-token" (click)="openTokenList(2)"
        *ngIf="!liquidityPlus.tokenSecond.name" class="select-token" [disabled]="!isConnected">{{ 'liquidityPlus.select' | translate }}</button>

    </div>
  </div>

  <!--pool explain-->
  <div class="container-start-lp separator-big" *ngIf="liquidityPlus.tokenFirst.name && liquidityPlus.tokenSecond.name && !firstPool">
    <div>
      <mat-label>
        <b>
          <img src="{{liquidityPlus.tokenFirst.icon}}"style="width: 25px; height: 25px;">
          {{ liquidityPlus.tokenFirst.name }} {{ 'liquidityPlus.per' | translate }} {{liquidityPlus.tokenSecond.name }}
          <img src="{{liquidityPlus.tokenSecond.icon}}"style="width: 25px; height: 25px;">
        </b>
      </mat-label>
      <input matInput name="firstPerSecond" class="tex-grey" #firstPerSecond="ngModel"
        [(ngModel)]="liquidityPlus.firstPerSecond" placeholder="{{liquidityPlus.firstPerSecond}}" required disabled />
    </div>
    <div>
      <mat-label>
        <b>
          <img src="{{liquidityPlus.tokenSecond.icon}}"style="width: 25px; height: 25px;">
          {{ liquidityPlus.tokenSecond.name }} {{ 'liquidityPlus.per' | translate }} {{liquidityPlus.tokenFirst.name }}
          <img src="{{liquidityPlus.tokenFirst.icon}}"style="width: 25px; height: 25px;">
        </b>
      </mat-label>
      <input matInput name="secondPerFirst" class="tex-grey" #secondPerFirst="ngModel"
        [(ngModel)]="liquidityPlus.secondPerFirst" placeholder="{{liquidityPlus.secondPerFirst}}" required disabled />
    </div>
  </div>

  <!--Supply Button-->
  <div class="separator-big container-colum" *ngIf="!firstPool">
    <button *ngIf="!error" mat-flat-button class="btn-title" style="float: inherit; width: 100%;" color="primary"
      type="submit"
      [disabled]="approvedPair || !isConnected || liquidityPlus.tokenFirst.name === '' || liquidityPlus.tokenSecond.name === ''"
      (click)="approveTokens()">
      <mat-icon>create</mat-icon> {{ 'liquidityPlus.approve' | translate}}
    </button>
    <button *ngIf="error" mat-flat-button class="btn-title" style="float: inherit; width: 100%;" color="warn"
      type="submit" [disabled]="!f.valid">
      <mat-icon>create</mat-icon> {{ errorText | translate}}
    </button>
    <div class="separator"></div>
    <button *ngIf="!error || liquidityPlus.inputSecond == null || liquidityPlus.inputFirst == null" mat-flat-button class="btn-title" style="float: inherit; width: 100%;" color="primary"
      type="submit"
      [disabled]="!approvedPair || liquidityPlus.inputFirst <= 0 || liquidityPlus.inputSecond <= 0 || liquidityPlus.inputFirst > liquidityPlus.inputBalanceFirst || liquidityPlus.inputSecond > liquidityPlus.inputBalanceSecond"
      (click)="addLiquidityToPair()">
      <mat-icon>create</mat-icon> {{ 'liquidityPlus.trade' | translate}}
    </button>
  </div>

  <!--Alert first Poll-->
  <div *ngIf="firstPool && net === 'ETH'" class="first-pool-eth">
    <img src="assets/ops.png" width="60px" height="60px">
    <p>
      <strong>{{ 'liquidityPlus.firstPoolStrongETH' | translate }}</strong>
      <br>
      {{ 'liquidityPlus.firstPoolETH' | translate }}
    </p>
  </div>
  <div *ngIf="firstPool && net !== 'ETH'" class="first-pool">
    <p>
      <strong>{{ 'liquidityPlus.firstPoolStrong' | translate }}</strong>
      <br>
      {{ 'liquidityPlus.firstPool' | translate }}
    </p>
    <button mat-flat-button color="primary" (click)="goToCreatePair()" class="btn-title">Create Pair</button>
  </div>
  <div class="separator-big" *ngIf="pairData && !firstPool && isConnected">
    <!--position resume-->
    <mat-card>
      <mat-card-header>
        <div>
          <h3><b>{{ 'liquidityPlus.position' | translate }}</b></h3>
        </div>
      </mat-card-header>
      <div>
        <mat-label><b>{{'liquidityPlus.shareOfPool' | translate }}</b></mat-label>
        <input matInput name="shareOfPool" class="tex-grey" #shareOfPool="ngModel"
          [(ngModel)]="liquidityPlus.shareOfPool" placeholder="{{liquidityPlus.shareOfPool}} &nbsp;%" required
          disabled />
      </div>
      <div>
        <b>{{ liquidityPlus.tokenFirst.name }} <img src="{{liquidityPlus.tokenFirst.icon}}"
          style="width: 25px; height: 25px;"></b>
        <input matInput name="positionFirst" class="tex-grey" #positionFirst="ngModel"
          [(ngModel)]="liquidityPlus.positionFirst" placeholder="{{liquidityPlus.positionFirst}}" disabled />
      </div>
      <div>
        <b>{{ liquidityPlus.tokenSecond.name }} <img src="{{liquidityPlus.tokenSecond.icon}}"
          style="width: 25px; height: 25px;"></b>
        <input matInput name="positionSecond" class="tex-grey" #positionSecond="ngModel"
          [(ngModel)]="liquidityPlus.positionSecond" placeholder="{{liquidityPlus.positionSecond}}" disabled />
      </div>
      <!-- <div>
        <mat-label><b>{{'liquidityPlus.poolAllocation' | translate }}</b></mat-label>
        <input matInput name="poolAllocation" class="tex-grey" #poolAllocation="ngModel"
          [(ngModel)]="liquidityPlus.poolAllocation" placeholder="{{liquidityPlus.poolAllocation}} &nbsp;%" required
          disabled />
      </div> -->
    </mat-card>
  </div>

</form>
</mat-card>
