<div class="content-card-home card-50">
  <div class="home-card">
    <img src="/assets/bamboo_logo_governance_final.png" class="img-resp">
  </div>
  <div class="home-card-resume">
    <div class="tex-home">{{ 'make' | translate }}</div>
    <div class="resume">
      {{ 'governance.resume' | translate }}
      <br>
      <div class="separator"></div>
      <a href="{{linkNewProposal}}" target="_blank">
        <button mat-flat-button style="width: 100%;" class="btn-active">{{ 'governance.setNew' | translate }}</button>
      </a>
    </div>
  </div>
</div>

<div>
  <button mat-flat-button class="btn-active" style="margin: 10px;"
          (click)="selectList('active')">{{ 'governance.active' | translate}}</button>
  <button mat-flat-button class="btn-pending" style="margin: 10px;"
          (click)="selectList('pending')">{{ 'governance.pending' | translate}}</button>
  <button mat-flat-button class="btn-closed" style="margin: 10px;"
          (click)="selectList('closed')">{{ 'governance.closed' | translate}}</button>
  <button mat-flat-button color="primary" style="margin: 10px; border-radius: 15px;"
          (click)="selectList('all')">{{ 'governance.all' | translate}}</button>
</div>
<mat-list>
  <mat-list-item *ngFor="let proposition of proposals" class="prop-card mat-elevation-z5">
    <div class="val-item">
      <div class="prop-tex">
        <div class="prop-title"><b>{{ proposition.title }}</b></div>
        <div class="prop-body">{{ proposition.body }}</div>
        <div>{{ 'governance.start' | translate }}:
          <strong>{{ proposition.start * 1000 |  date: 'dd/MM/yyyy' }}</strong> {{ 'governance.end' | translate }}:
          <strong>{{ proposition.end * 1000 |  date: 'dd/MM/yyyy' }}</strong></div>
        <div *ngIf="proposition.start < timestamp">{{ 'governance.votes' | translate }}: <strong>{{proposition.nVotes}}</strong></div>
      </div>
      <div *ngIf="proposition.end > timestamp && proposition.start > timestamp" class="prop-link ">
        <a href="{{linkProposals}}{{proposition.id}}" target="_blank">
          <button mat-flat-button class="btn-pending">{{ 'governance.pending' | translate}}</button>
        </a>
      </div>
      <div *ngIf="proposition.end > timestamp && proposition.start < timestamp" class="prop-link">
        <a href="{{linkProposals}}{{proposition.id}}" target="_blank">
          <button mat-flat-button class="btn-active">{{ 'governance.active' | translate}}</button>
        </a>
      </div>
      <div *ngIf="proposition.end < timestamp" class="prop-link">
        <a href="{{linkProposals}}{{proposition.id}}" target="_blank">
          <button mat-flat-button class="btn-closed">{{ 'governance.closed' | translate}}</button>
        </a>
      </div>
    </div>
  </mat-list-item>
</mat-list>
