<div *ngIf="isWait">
  <div>
    <img src="/assets/bamboo_logo_pool_final.png" width="200" height="auto">
  </div>
  <div>
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
  </div>
</div>
<!-- Pools listed -->
<div *ngIf="!isWait" style="overflow: auto;">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ETH" #input>
    </mat-form-field>
    <span (click)="refreshPools()"><mat-icon style="cursor: pointer;scale: 1.4; margin-right: 10px;" width="30px"
                                               height="auto">cached</mat-icon></span>
  </div>
  <div *ngIf="!dataSource">
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort multiTemplateDataRows class="table-pool">
    <ng-container matColumnDef="title" sticky>
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pool.pool' | translate }}</mat-header-cell>
      <span class="mobile-label">{{ 'pool.pool' | translate }}:</span>
      <mat-cell *matCellDef="let pool" class="font-big-pool point-cursor over-green"  (click)="setPoolToPairPage(pool)">
        <img src="{{pool.logoTokenFirst}}" alt="" width="25px" height="auto">
        <img src="{{pool.logoTokenSecond}}" alt="" style="margin-left: -2px;" width="25px"
             height="auto">
        {{pool.underlyingTokenFirst}}&nbsp;/&nbsp;{{pool.underlyingTokenSecond}}
        <mat-icon style="font-size: 20px;">login</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="underlying">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'liquidityMinus.underlying' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let pool">
        <span class="mobile-label">{{ 'liquidityMinus.underlying' | translate }}:</span>
        <div class="cont-column">
          <div class="item-pool">
            <img src="{{pool.logoTokenFirst}}" alt="" width="25px"
                 height="auto">  {{pool.underlyingTokenSecondValue}} {{pool.underlyingTokenFirst}}
          </div>
          <div class="item-pool">
            <img src="{{pool.logoTokenSecond}}" alt="" width="25px"
                 height="auto"> {{pool.underlyingTokenFirstValue}} {{pool.underlyingTokenSecond}}
          </div>
          <div>{{pool.tvl}} TVL</div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pool.balance' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let pool">
        <span class="mobile-label">{{ 'pool.balance' | translate }}:</span>
        <div class="cont-column">
          <div>{{ 'pool.available' | translate }}: {{pool.available}}</div>
          <div>{{ 'pool.staked' | translate }}: {{pool.staked}}</div>
          <div>{{ pool.underlyingTokenFirst }}-{{ pool.underlyingTokenSecond }} Seeds</div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="yield">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'liquidityMinus.yield' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let pool">
        <span class="mobile-label">{{ 'liquidityMinus.yield' | translate }}:</span>
        <div class="cont-column">
          <div>
            <img src="assets/bamboo-head.png" width="30px" height="auto">
            <span class="font-big">{{ pool.yield }}</span>
            <span class="font-grey"> Bamboo/Block</span>
          </div>
          <div class="separator-lite">
            <span [class.green]="pool.yieldReward >= 1" class="reward">
              {{ pool.yieldReward }} x {{'pool.reward' | translate }}
            </span>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roi">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'liquidityMinus.roi' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let pool">
        <span class="mobile-label">{{ 'liquidityMinus.roi' | translate }}:</span>
        <div class="cont-column">
          <div>{{pool.roiDaily}} <span class="font-grey"> {{ 'pool.daily' | translate }}</span></div>
          <div><span class="font-grey"> {{pool.roiMonthly}} {{ 'pool.monthly' | translate }}</span></div>
          <div><span class="font-grey"> {{pool.roiYearly}} {{ 'pool.yearly' | translate }}</span></div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="earnings">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pool.earnings' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let pool">
        <span class="mobile-label">{{ 'pool.earnings' | translate }}:</span>
        <ng-container *ngIf="pool.reward else noReward">
          <div class="content-buttons">
            <div>
              <img src="assets/bamboo-head.png" width="30px" height="auto">
              <span class="font-big-pool">{{ pool.reward }}</span>
            </div>
            <div class="item-pool">
              <button mat-flat-button color="primary" class="btn-title"
                      (click)="claimReward(pool)"> {{ 'pool.getReward' | translate }} </button>
            </div>
          </div>
        </ng-container>
        <ng-template #noReward>
          <span class="font-grey grey reward">{{ 'pool.noreward' | translate }}</span>
        </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let pool">
        <div *ngIf="pool.isActive" class="content-buttons">
          <div class="item-pool">
            <button mat-flat-button color="primary" class="btn-title"
                    (click)="depositPool(pool)"> {{ 'pool.deposit' | translate }} </button>
          </div>
          <div class="item-pool">
            <button mat-flat-button color="primary" class="btn-title"
                    (click)="withdrawPool(pool)"> {{ 'pool.withdraw' | translate }} </button>
          </div>
        </div>
        <button *ngIf="!pool.isActive" mat-flat-button color="primary" (click)="approvePool(pool)"
                class="btn-title"> {{ 'pool.approveStaking' | translate }} </button>
      </mat-cell>
    </ng-container>

    <ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </ng-container>

  </mat-table>
</div>
