<div class="separator-big"></div>
<div class="content-card-home card-50">
  <div class="img-logo-panda">
    <img src="assets/bamboodefi.png" class="img-resp">
  </div>
  <div class="home-card-resume right-margin resume">
    <div>{{ 'about.resume' | translate }}</div>
    <div class="separator"></div>
    <div>{{ 'about.subtitle' | translate }}</div>
    <div class="separator"></div>
    <div>{{ 'about.footer' | translate }}</div>
  </div>
</div>

<div class="separator-big"></div>

<mat-card class="mat-elevation-z5">
  <mat-card-title>{{ 'about.Exchanges' | translate }}</mat-card-title>
  <mat-card-content>
    <div class="content">
      <div class="item">
        <a href="https://www.gate.io/trade/BAMBOO_USDT" target="_blank">Gate.io</a><br>
        <div class="separator"></div>
        <a href="https://www.gate.io/trade/BAMBOO_USDT" target="_blank"><img src="assets/gate.io_logo.png" alt="gate.io" class="img-logos"></a>
      </div>
      <div class="item">
        <a href="https://www.mxc.com/trade/easy#BAMBOO_USDT" target="_blank">MXC</a><br>
        <div class="separator"></div>
        <a href="https://www.mxc.com/trade/easy#BAMBOO_USDT" target="_blank"><img src="assets/mxc.png" alt="mxc" class="img-logos"></a>
      </div>
      <div class="item">
        <a href="https://tokpie.zendesk.com/hc/en-us/articles/360017663017-BambooDeFi-BAMBOO-Token-Listed-on-Tokpie" target="_blank">Tokpie</a><br>
        <div class="separator"></div>
        <a href="https://tokpie.zendesk.com/hc/en-us/articles/360017663017-BambooDeFi-BAMBOO-Token-Listed-on-Tokpie" target="_blank"><img src="assets/tokpie.png" alt="tokpie" class="img-logos"></a>
      </div>
      <div class="item">
        <a href="https://info.uniswap.org/token/0xf56842af3b56fd72d17cb103f92d027bba912e89" target="_blank">Uniswap</a><br>
        <div class="separator"></div>
        <a href="https://info.uniswap.org/token/0xf56842af3b56fd72d17cb103f92d027bba912e89" target="_blank"><img src="assets/Uniswap_Logo.png" alt="uniswap" class="img-logos"></a>
      </div>
      <div class="item">
        <a href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0x198abb2d13faa2e52e577d59209b5c23c20cd6b3" target="_blank">Pancakeswap</a><br>
        <div class="separator"></div>
        <a href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0x198abb2d13faa2e52e577d59209b5c23c20cd6b3" target="_blank"><img src="assets/panckake.png" alt="panckakeswap" class="img-logos"></a>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="separator-big"></div>

<mat-card class="mat-elevation-z5">
  <mat-card-title>{{ 'about.TechPartners' | translate }}</mat-card-title>
  <mat-card-content>
    <div class="content">
      <div class="item">
        <a href="https://kindynos.mx/">Kindynos</a><br>
        <div class="separator"></div>
        <a href="https://kindynos.mx/" target="_blank">
          <img src="assets/kindynos.png" alt="Kindynos" class="img-logos">
        </a>
      </div>
      <div class="item">
        <a href="https://www.xenonfactory.es/">Xenon Factory</a><br>
        <div class="separator"></div>
        <a href="https://www.xenonfactory.es/" target="_blank">
          <img src="assets/xenon.png" alt="xenon factory" class="img-logos">
        </a>
      </div>
      <div class="item">
        <a href="https://red4sec.com/en">RED4SEC</a><br>
        <div class="separator"></div>
        <a href="https://red4sec.com/en" target="_blank">
          <img src="assets/red4sec.png" alt="RED4SEC" class="img-logos">
        </a>
      </div>
      <div class="item">
        <a href="https://www.coinfabrik.com/">Coinfabrik</a><br>
        <div class="separator"></div>
        <a href="https://www.coinfabrik.com/" target="_blank">
          <img src="assets/coinfabrik.png" alt="Coinfabric" class="img-logos">
        </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="separator-big"></div>
<mat-card class="mat-elevation-z5">
  <mat-card-title>{{ 'about.LegalPartners' | translate }}</mat-card-title>
  <mat-card-content>
    <div class="content">
      <div class="item">
        <a href="https://ferrer-bonsoms.com/en/">ferrer-bonsoms & sanjurjo abogados</a><br>
        <div class="separator"></div>
        <a href="https://ferrer-bonsoms.com/en/" target="_blank">
          <img src="assets/ferrer-bossons.jpg" alt="ferrer-bonsoms & sanjurjo abogados" class="img-logos">
        </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="separator-big"></div>
<mat-card class="mat-elevation-z5">
  <mat-card-title>{{ 'about.MarketingPartners' | translate }}</mat-card-title>
  <mat-card-content>
    <div class="content">
      <div class="item">
        <a href="http://www.icopantera.kr/">IcoPantera</a><br>
        <div class="separator"></div>
        <a href="http://www.icopantera.kr/" target="_blank">
          <img src="assets/icopantera.png" alt="IcoPantera" class="img-logos">
        </a>
      </div>
      <div class="item">
        <a href="https://cryptopie.co.jp/">Cryptopie</a><br>
        <div class="separator"></div>
        <a href="https://cryptopie.co.jp/" target="_blank">
          <img src="assets/logo_cryptopie.png" alt="cryptopie" class="img-logos">
        </a>
      </div>
      <div class="item">
        <a href="https://bigcoinvietnam.com/">Bigcoin</a><br>
        <div class="separator"></div>
        <a href="https://bigcoinvietnam.com/" target="_blank">
          <img src="assets/bigcoin.png" alt="bigcoin" class="img-logos">
        </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="separator-big"></div>


<div class="separator-big"></div>
<mat-card class="mat-elevation-z5">
  <mat-card-title>{{ 'about.wallets' | translate }}</mat-card-title>
  <mat-card-content>
    <div class="content">
      <div class="item">
        <a href="https://ezdefi.com/">ezDeFi</a><br>
        <div class="separator"></div>
        <a href="https://ezdefi.com/" target="_blank"><img src="assets/ezdefi.jpg" alt="ezdefi" class="img-logos"></a>
     </div>
     <div class="item">
        <a href="https://metamask.io/">Metamask</a><br>
        <div class="separator"></div>
        <a href="https://metamask.io/" target="_blank"><img src="assets/metamask-fox.svg" alt="Metamask" class="img-logos"></a>
      </div>
      <div class="item">
        <a href="https://trustwallet.com/">Trust Wallet</a><br>
        <div class="separator"></div>
        <a href="https://trustwallet.com/" target="_blank"><img src="assets/trustwallet-logo.png" alt="Trustwallet" class="img-logos"></a>
      </div>
      <div class="item">
        <a href="https://www.myetherwallet.com/">Mew</a><br>
        <div class="separator"></div>
        <a href="https://www.myetherwallet.com/" target="_blank"><img src="assets/mew.png" alt="mew" class="img-logos"></a>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="separator-big"></div>

<mat-card class="mat-elevation-z5">
  <mat-card-title>ATMs</mat-card-title>
  <mat-card-content>
    <div class="content">
      <div class="item">
        <a href="https://auroracryptomachines.com/">Aurora Cryptomachines</a><br>
        <div class="separator"></div>
        <a href="https://auroracryptomachines.com/" target="_blank">
          <img src="assets/logo-acm.png" alt="auroracryptomachines" class="img-logos">
        </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="separator-big"></div>

<mat-card class="mat-elevation-z5">
  <mat-card-title>{{ 'about.charity' | translate }}</mat-card-title>
  <mat-card-content>
    <div class="content">
      <div class="item">
        <a href="http://www.pandahome.org/">Panda Home</a><br>
        <div class="separator"></div>
        <a href="http://www.pandahome.org/" target="_blank">
          <img src="assets/pandahome.png" alt="auroracryptomachines" class="img-logos">
        </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>

