<div class="content-class-ho">
  <div class="item-class-ho">
    <app-sumary></app-sumary>
  </div>
  <div class="item-class-ho">
    <app-balance></app-balance>
  </div>
</div>

<div class="content-class-ho">
  <div class="item-class-ho">
    <app-global-market></app-global-market>
  </div>
  <div class="item-class-ho item-ho-center">
<!--    <mat-card class="mat-home-bottom">-->
      <img src="./assets/bamboodefi.png" class="img-resp-ho">
      <!-- <div style="text-align: left;">
        <a href="https://cryptototem.com/bamboodefi/" target="_blank" title="BambooDeFi rating on CryptoTotem"><img border="0" src="https://cryptototem.com/widgets/imggen.php?w=176&h=55&format=0&color=1&ico_id=24829" alt="BambooDeFi rating"></a>
      </div> -->
      <div class="tex-home-ho">{{ 'make' | translate }}</div>
<!--    </mat-card>-->
  </div>
</div>

