table tr td{
  border: 1px solid white;
  border-collapse: collapse!important;
}
td {
  padding: 2px;
}
.tex-med{
  height: 35px;
  color: rgba(47, 79, 79, 0.829) !important;
  font-size: 1.5em;
  text-align: right;
}
